/* this is the typing effect using keyframes*/
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* this is the cursor blinking effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #00417e; } }
/*************************
        Components
  *************************/
/* this class is linked to the secondary background so that the full image can be displayed */
/*************************
*********  Base  *********
*************************/
* {
  box-sizing: border-box; }

/* The html and body holds all the text formatting, margin postions, */
html, body {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  margin: 0px;
  /* This verifies that my website reads my selected font from Google fonts*/
  font-family: 'Noto Sans', sans-serif;
  /* smooth scrolling funtion added to give a much flush feel to the website */
  scroll-behavior: smooth; }

body {
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
  background: #f3faff; }

div {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

p {
  height: 0;
  padding: 0 15px;
  overflow: hidden;
  transition: height .4s ease-out, padding .4s ease-out; }

h1 {
  font-size: 1em; }

a {
  display: block;
  height: 23px;
  line-height: 23px;
  background: linear-gradient(#eee, #ccc);
  color: #333;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #aaa; }

#home {
  border-radius: 2px 2px 0 0; }

#edu {
  border-radius: 0 0 3px 3px; }

#work {
  border-radius: 2px 2px 0 0; }

#project {
  border-radius: 0 0 3px 3px; }

#skills {
  border-radius: 0 0 3px 3px; }

a:hover, a:focus {
  opacity: .9; }

a:active {
  background: linear-gradient(#ccc, #ddd);
  color: #000; }

:target + p {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc; }

#home:target + p {
  height: 70px; }

#home:target + p {
  height: 230px; }

#edu:target {
  border-radius: 0; }

#edu:target + p {
  height: 180px; }

#work:target + p {
  height: 70px; }

#work:target + p {
  height: 230px; }

#project:target {
  border-radius: 0; }

#project:target + p {
  height: 180px; }

#skills:target {
  border-radius: 0; }

#skills:target + p {
  height: 180px; }

/* the section is used so that each heading can be split from each other */
/*************************
      Layouts
*************************/
/* This ensures that the background position and size fits all resolutions **Add multimedia sizes** */
.main-bg {
  background-image: url(../images/main.jpg);
  height: 100%;
  background-size: cover;
  background-position: center; }

.secondary-bg {
  background: url(../images/secondary.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

/* this ensures that the headings for each section is coloured and positioned properly */
.headers {
  color: black;
  text-align: center;
  /* the text transformation was used to uppercase all letters so that it stands out */
  text-transform: uppercase;
  font-size: 50px;
  padding-top: 80px;
  scroll-behavior: smooth; }

/* This displays my name and surname and jusitifies the positioning of the text */
.center {
  /* Ensures that the text is centered evenly */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Colour and size determined */
  color: white;
  font-size: 30px;
  text-shadow: 0 4px 5px black; }

.typewrite {
  /* this ensures that no text is displayed until the cursor passes */
  overflow: hidden;
  margin: 0 auto;
  /* the cursor styling */
  border-right: 0.1em solid #00417e;
  /* this keeps the text on one line */
  white-space: nowrap;
  -spacing: .1em;
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite; }

/*************************
        Media Queries
  *************************/
/******* Mobile Device  *******/
/* Responsive design for a mobile device */
@media only screen and (min-device-width: 100px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 1) {
  /* This ensures that the background position and size fits all resolutions **Add multimedia sizes** */
  .main-bg {
    background-image: url(../images/main.jpg);
    height: 100%;
    width: 100%; }

  /* This ensures that the secondary background position and size fits all resolutions **Add multimedia sizes** */
  .secondary-bg {
    background: url(../images/secondary.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }

  /* this class is linked to the secondary background so that the full image can be displayed */
  .main {
    height: 100%;
    width: 100%; }

  /* this styles the navigation bar with the text colour, alignment and position */
  nav {
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    position: fixed;
    height: 50px;
    top: 10px;
    right: 1px;
    left: 1px;
    border-radius: 10px; }

  ul {
    margin-top: 2px; }

  /* this ensures that each li tag is spaced out evenly and consistant */
  li {
    display: inline;
    margin: 10px;
    font-size: 10px;
    text-align: center; }

  /* below is the link colour, decoration and font size */
  a:link {
    color: white;
    font-size: 10px;
    /* The decoration is added so that the lines disappears under the text */
    text-decoration-style: none;
    text-decoration-line: none;
    text-decoration: none; }

  /* below is the visited colour and font size */
  a:visited {
    font-size: 10px; }

  /* below is the hover colour, decoration and font size. When scrolling over the text would then transition to a bigger font size thus giving it a smooth and elegant feel. */
  a:hover {
    font-size: 10px; }

  /* below is the active colour, decoration and font size */
  a:active {
    font-size: 3px; }

  /* This displays my name and surname and jusitifies the positioning of the text */
  .center {
    /* Ensures that the text is centered evenly */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -40%);
    /* Colour and size determined */
    color: white;
    font-size: 15px;
    animation-name: direction;
    animation-duration: 2s;
    animation-iteration-count: 1; }

  @keyframes direction {
    from {
      font-size: 3px; }
    to {
      font-size: 15px; } }
  /* when hovering over the button the colour ant text would change */
  button:hover {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer; }

  .down-size {
    height: 20%;
    width: 20%; }

  /* this ensures that the headings for each section is coloured and positioned properly */
  .headers {
    text-align: center;
    /* the text transformation was used to uppercase all letters so that it stands out */
    font-size: 30px;
    padding-top: 60px; }

  /* the section is used so that each heading can be split from each other */
  section {
    padding: 10px;
    /* proper positioning is used here by adjusting the margins */
    margin-bottom: 20px; }

  /* this class grids my first section into two seperate columns */
  .grid1 {
    display: grid;
    grid-template-columns: repeat(1, 0fr); }

  /* this class links to the profile picture used in the home section */
  .profile {
    display: block;
    grid-template-columns: repeat(0, 0fr);
    /* height and width determined */
    height: 300px;
    width: 250px;
    margin-left: 20px;
    /* this rounded the edges slightly*/
    border-radius: 20px; }

  /* this class links to my social media icons in the home section it only justifies the height and width for each */
  .icons {
    width: 20%;
    height: 20%; }

  /* the table property changes the font size to a more readible content for a mobile device */
  table {
    font-size: 12px; }

  /* this centers all images in the projects section */
  #project-center {
    text-align: center; }

  /* this ensures that the project images are sized correctly */
  .media-size {
    height: 75%;
    width: 75%; }

  .up-size {
    height: 10%;
    width: 10%; } }
/******* Tablet Device  *******/
/* Responsive design for a tablet device */
@media only screen and (min-device-width: 700px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  /* This ensures that the background position and size fits all resolutions **Add multimedia sizes** */
  .main-bg {
    background-image: url(../images/main.jpg);
    height: 100%;
    width: 100%;
    background-size: cover; }

  /* This ensures that the secondary background position and size fits all resolutions **Add multimedia sizes** */
  .secondary-bg {
    background: url(../images/secondary.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }

  /* this class is linked to the secondary background so that the full image can be displayed */
  .main {
    height: 100%;
    width: 100%; }

  /* this styles the navigation bar with the text colour, alignment and position */
  nav {
    background-color: rgba(0, 0, 0, 0.39);
    text-align: right;
    color: white;
    position: fixed;
    height: 50px;
    top: 20px;
    left: 1px;
    border-radius: 10px; }

  /* this ensures that each li tag is spaced out evenly and consistant */
  li {
    display: inline;
    margin: 20px;
    font-size: 15px;
    text-align: center; }

  /* below is the link colour, decoration and font size */
  a:link {
    font-size: 10px;
    /* The decoration is added so that the lines disappears under the text */
    text-decoration-style: none;
    text-decoration-line: none;
    text-decoration: none; }

  /* below is the visited colour and font size */
  a:visited {
    font-size: 10px; }

  /* below is the hover colour, decoration and font size. When scrolling over the text would then transition to a bigger font size thus giving it a smooth and elegant feel. */
  a:hover {
    color: #b4b4b4;
    font-size: 10px; }

  /* below is the active colour, decoration and font size */
  a:active {
    font-size: 3px; }

  /* This displays my name and surname and jusitifies the positioning of the text */
  .center {
    /* Ensures that the text is centered evenly */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Colour and size determined */
    color: white;
    font-size: 20px;
    animation-name: direction;
    animation-duration: 2s;
    animation-iteration-count: 1; }

  @keyframes direction {
    from {
      font-size: 3px; }
    to {
      font-size: 20px; } }
  /* when hovering over the button the colour ant text would change */
  button:hover {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer; }

  .down-size {
    height: 15%;
    width: 15%; }

  /* this ensures that the headings for each section is coloured and positioned properly */
  .headers {
    text-align: center;
    /* the text transformation was used to uppercase all letters so that it stands out */
    font-size: 40px;
    padding-top: 60px; }

  /* the section is used so that each heading can be split from each other */
  section {
    padding: 10px;
    /* proper positioning is used here by adjusting the margins */
    margin-bottom: 20px; }

  /* this class grids my first section into two seperate columns */
  .grid1 {
    display: grid;
    grid-template-columns: repeat(0, 1fr); }

  /* this class links to the profile picture used in the home section */
  .profile {
    display: grid;
    grid-template-columns: repeat(0, 0fr);
    /* height and width determined */
    height: 350px;
    width: 300px;
    margin-left: 100px;
    /* this rounded the edges slightly*/
    border-radius: 20px; }

  /* this class links to my social media icons in the home section it only justifies the height and width for each */
  .icons {
    width: 20%;
    height: 20%; }

  /* the table property changes the font size to a more readible content for a mobile device */
  table {
    font-size: 12px; }

  /* this centers all images in the projects section */
  #project-center {
    text-align: center; }

  /* this ensures that the project images are sized correctly */
  .media-size {
    height: 70%;
    width: 70%; } }

/*# sourceMappingURL=main.css.map */
