/* this is the typing effect using keyframes*/
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* this is the cursor blinking effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #00417e; } }
/*************************
      Layouts
*************************/
/* This ensures that the background position and size fits all resolutions **Add multimedia sizes** */
.main-bg {
  background-image: url(../images/main.jpg);
  height: 100%;
  background-size: cover;
  background-position: center; }

/* This ensures that the secondary background position and size fits all resolutions **Add multimedia sizes** */
.secondary-bg {
  background: url(../images/roots.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

/* This displays my name and surname and jusitifies the positioning of the text */
.center {
  /* Ensures that the text is centered evenly */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Colour and size determined */
  color: white;
  text-shadow: 0 4px 5px black;
  animation-name: direction;
  animation-duration: 2s;
  animation-iteration-count: 1; }

.hero-heading {
  font-size: 60px;
  text-align: center;
  padding-bottom: 5%; }

/* this adds styling to the download button so that it fits the theme */
.download-btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.596);
  display: block;
  /* border styling selected */
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  padding: 1.3%;
  /* positioning determined */
  margin-left: auto;
  margin-right: auto; }

.down-size {
  height: 10%;
  width: 10%; }

/* this funtion helps the scroll down is set in its right position */
.down {
  /* colour and display selected */
  display: block;
  /* text align and spacing */
  text-align: center;
  margin-top: 2%; }

/* this ensures that the headings for each section is coloured and positioned properly */
.headers {
  color: white;
  text-align: center;
  /* the text transformation was used to uppercase all letters so that it stands out */
  text-transform: uppercase;
  font-size: 50px;
  padding-top: 80px;
  scroll-behavior: smooth; }

/* this class grids my first section into two seperate columns */
.grid1 {
  display: grid;
  width: 80%;
  margin: auto;
  /* grid columns and rows size */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  grid-template-areas: "details profilepic" "socialstats  profilepic"; }

/* this centers all images in the projects section */
#project-center {
  text-align: center; }

/* this class links to my social media icons in the home section it only justifies the height and width for each */
.icons {
  background-size: contain;
  width: 20%;
  height: 100%; }

/* this determines the height and width of the skills section images */
.skills {
  height: 20%;
  width: 20%;
  -webkit-filter: brightness(90%); }

/* this centers all images in the skills section */
#skills-center {
  text-align: center; }

.top {
  /* colour and display selected */
  color: blue;
  display: block;
  /* text align and spacing */
  text-align: center;
  margin-top: 2%; }

.up-size {
  height: 6%;
  width: 6%;
  transform: rotate(180deg); }

/*************************
      Base
*************************/
/* The html and body holds all the text formatting, margin postions, */
html, body {
  height: 100%;
  margin: 0px;
  background-color: #030303;
  /* smooth scrolling funtion added to give a much flush feel to the website */
  scroll-behavior: smooth;
  transition: 1s; }

ul {
  padding-left: 0px; }

h6 {
  font-size: 60px;
  width: 700px; }

/* this ensures that each li tag is spaced out evenly and consistant */
li {
  display: inline;
  margin: 30px;
  font-size: 20px;
  text-align: center; }

/* the section is used so that each heading can be split from each other */
section {
  width: 80%;
  padding: 30px;
  /* a linear-gradient effect was used to give a sleek look */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.733), rgba(255, 255, 255, 0.685), rgba(252, 252, 252, 0.103));
  /* proper positioning is used here by adjusting the margins */
  margin-left: 6%;
  margin-bottom: 30px;
  /* This verifies that my website reads my selected font from Google fonts*/
  font-family: 'Noto Sans', sans-serif;
  /* this rounded the edges slightly*/
  border-radius: 10px; }

/* below is the link colour, decoration and font size */
a:link {
  color: #313131;
  /* The decoration is added so that the lines disappears under the text */
  text-decoration-style: none;
  text-decoration-line: none;
  text-decoration: none; }

/* below is the visited colour and font size */
a:visited {
  color: #6d00b6;
  font-size: 15px; }

/* below is the hover colour, decoration and font size. When scrolling over the text would then transition to a bigger font size thus giving it a smooth and elegant feel. */
a:hover {
  color: #5e5e5e;
  /* the timing and delay is added to smoothen it out */
  transition-duration: 0.3s;
  transition-delay: 0.3;
  /* here a specific sequel is added */
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  text-decoration-style: none;
  text-decoration-line: none;
  text-decoration: none; }

/* below is the active colour, decoration and font size */
a:active {
  color: purple;
  font-size: 3px;
  /* The decoration is added so that the lines disappears under the text */
  text-decoration-style: none;
  text-decoration-line: none;
  text-decoration: none; }

button:hover {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer; }

/* once hovered, the image brighness would increase to 110% */
/* once hovered, the project images brightens*/
.media-size:hover {
  -webkit-filter: brightness(110%); }

/* once hovered, the image brightens */
.skills:hover {
  -webkit-filter: brightness(110%); }

/*************************
      Media Queries
*************************/
/******* Mobile Device  *******/
/* Responsive design for a mobile device */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* This ensures that the background position and size fits all resolutions **Add multimedia sizes** */
  .main-bg {
    background-image: url(../images/main.jpg);
    height: 100%;
    width: 100%; }

  /* This ensures that the secondary background position and size fits all resolutions **Add multimedia sizes** */
  .secondary-bg {
    background: url(../images/roots.jpg);
    background-size: contain; }

  /* this class is linked to the secondary background so that the full image can be displayed */
  .main {
    height: 100%;
    width: 100%; }

  /* this styles the navigation bar with the text colour, alignment and position */
  nav {
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    position: fixed;
    height: 50px;
    top: 10px;
    right: 1px;
    left: 1px;
    border-radius: 10px; }

  ul {
    margin-top: 2px; }

  /* this ensures that each li tag is spaced out evenly and consistant */
  li {
    display: inline;
    margin: 10px;
    font-size: 10px;
    text-align: center; }

  /* below is the link colour, decoration and font size */
  a:link {
    color: white;
    font-size: 10px;
    /* The decoration is added so that the lines disappears under the text */
    text-decoration-style: none;
    text-decoration-line: none;
    text-decoration: none; }

  /* below is the visited colour and font size */
  a:visited {
    color: #6d00b6;
    font-size: 10px; }

  /* below is the hover colour, decoration and font size. When scrolling over the text would then transition to a bigger font size thus giving it a smooth and elegant feel. */
  a:hover {
    color: #b4b4b4;
    font-size: 10px; }

  /* below is the active colour, decoration and font size */
  a:active {
    color: purple;
    font-size: 3px; }

  /* This displays my name and surname and jusitifies the positioning of the text */
  .center {
    /* Ensures that the text is centered evenly */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 45%;
    transform: translate(-40%, -40%);
    /* Colour and size determined */
    color: white;
    font-size: 15px;
    animation-name: direction;
    animation-duration: 2s;
    animation-iteration-count: 1; }

  @keyframes direction {
    from {
      font-size: 3px; }
    to {
      font-size: 15px; } }
  /* when hovering over the button the colour ant text would change */
  button:hover {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer; }

  .down-size {
    height: 20%;
    width: 20%; }

  /* this ensures that the headings for each section is coloured and positioned properly */
  .headers {
    color: white;
    text-align: center;
    /* the text transformation was used to uppercase all letters so that it stands out */
    font-size: 30px;
    padding-top: 60px; }

  /* the section is used so that each heading can be split from each other */
  section {
    padding: 10px;
    /* proper positioning is used here by adjusting the margins */
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px; }

  /* this class grids my first section into two seperate columns */
  .grid1 {
    display: block;
    grid-template-columns: repeat(1, 0fr);
    grid-template-areas: "details" "socialstats " "profilepic"; }

  /* this class links to the profile picture used in the home section */
  .profile {
    display: block;
    grid-template-columns: repeat(0, 0fr);
    /* height and width determined */
    height: 300px;
    width: 250px;
    margin-left: 20px;
    /* this rounded the edges slightly*/
    border-radius: 20px; }

  /* this class links to my social media icons in the home section it only justifies the height and width for each */
  .icons {
    width: 20%;
    height: 20%; }

  /* the table property changes the font size to a more readible content for a mobile device */
  table {
    font-size: 12px; }

  /* this centers all images in the projects section */
  #project-center {
    text-align: center; }

  /* this ensures that the project images are sized correctly */
  .media-size {
    height: 75%;
    width: 75%; }

  .up-size {
    height: 10%;
    width: 10%; } }
/******* Tablet Device  *******/
/* Responsive design for a tablet device */
@media only screen and (min-device-width: 457px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  /* This ensures that the background position and size fits all resolutions **Add multimedia sizes** */
  .main-bg {
    background-image: url(../images/main.jpg);
    height: 100%;
    width: 100%;
    background-size: cover; }

  /* This ensures that the secondary background position and size fits all resolutions **Add multimedia sizes** */
  .secondary-bg {
    background: url(../images/roots.jpg);
    background-size: contain; }

  /* this class is linked to the secondary background so that the full image can be displayed */
  .main {
    height: 100%;
    width: 100%; }

  /* this styles the navigation bar with the text colour, alignment and position */
  nav {
    background-color: rgba(0, 0, 0, 0.39);
    text-align: right;
    color: white;
    position: fixed;
    height: 50px;
    top: 20px;
    left: 1px;
    border-radius: 10px; }

  /* this ensures that each li tag is spaced out evenly and consistant */
  li {
    display: inline;
    margin: 20px;
    font-size: 15px;
    text-align: center; }

  /* below is the link colour, decoration and font size */
  a:link {
    color: white;
    font-size: 10px;
    /* The decoration is added so that the lines disappears under the text */
    text-decoration-style: none;
    text-decoration-line: none;
    text-decoration: none; }

  /* below is the visited colour and font size */
  a:visited {
    color: #6d00b6;
    font-size: 10px; }

  /* below is the hover colour, decoration and font size. When scrolling over the text would then transition to a bigger font size thus giving it a smooth and elegant feel. */
  a:hover {
    color: #b4b4b4;
    font-size: 10px; }

  /* below is the active colour, decoration and font size */
  a:active {
    color: purple;
    font-size: 3px; }

  /* This displays my name and surname and jusitifies the positioning of the text */
  .center {
    /* Ensures that the text is centered evenly */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Colour and size determined */
    color: white;
    font-size: 20px;
    animation-name: direction;
    animation-duration: 2s;
    animation-iteration-count: 1; }

  @keyframes direction {
    from {
      font-size: 3px; }
    to {
      font-size: 20px; } }
  /* when hovering over the button the colour ant text would change */
  button:hover {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer; }

  .down-size {
    height: 15%;
    width: 15%; }

  /* this ensures that the headings for each section is coloured and positioned properly */
  .headers {
    color: white;
    text-align: center;
    /* the text transformation was used to uppercase all letters so that it stands out */
    font-size: 40px;
    padding-top: 60px; }

  /* the section is used so that each heading can be split from each other */
  section {
    padding: 10px;
    /* proper positioning is used here by adjusting the margins */
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px; }

  /* this class grids my first section into two seperate columns */
  .grid1 {
    display: grid;
    grid-template-columns: repeat(0, 1fr); }

  /* this class links to the profile picture used in the home section */
  .profile {
    display: grid;
    grid-template-columns: repeat(0, 0fr);
    /* height and width determined */
    height: 350px;
    width: 300px;
    margin-left: 100px;
    /* this rounded the edges slightly*/
    border-radius: 20px; }

  /* this class links to my social media icons in the home section it only justifies the height and width for each */
  .icons {
    width: 20%;
    height: 20%; }

  /* the table property changes the font size to a more readible content for a mobile device */
  table {
    font-size: 12px; }

  /* this centers all images in the projects section */
  #project-center {
    text-align: center; }

  /* this ensures that the project images are sized correctly */
  .media-size {
    height: 70%;
    width: 70%; } }

/*# sourceMappingURL=style.css.map */
