/*************************
*********  Base  *********
*************************/

* {
  box-sizing: border-box;
}

/* The html and body holds all the text formatting, margin postions, */
html, body {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    /* This verifies that my website reads my selected font from Google fonts*/
    font-family: 'Noto Sans', sans-serif;
    /* smooth scrolling funtion added to give a much flush feel to the website */
    scroll-behavior: smooth;
    }


body {
  display:box;
  box-orient:vertical;
  box-pack:center;
  box-align:center;
  background:#f3faff;
}

div {
  width: 100%;
  background:#fff;
  border-radius:5px;
  box-shadow:0 1px 3px rgba(0,0,0,.3);
}

        p {
          height:0;
          padding:0 15px;
          overflow:hidden;
          transition:height .4s ease-out, padding .4s ease-out;
          }
          h1 {
          font-size:1em;
          }
          a {
          display:block;
          height:23px;
          line-height:23px;
          background:linear-gradient(#eee, #ccc);
          color:#333;
          text-decoration:none;
          text-align:center;
          text-shadow:0 1px 0 rgba(255,255,255,.5);
          border-bottom:1px solid #aaa;
          }
          #home {
          border-radius:2px 2px 0 0;
          }
          #edu {
          border-radius:0 0 3px 3px;
          }
          #work {
            border-radius:2px 2px 0 0;
            }
            #project {
            border-radius:0 0 3px 3px;
            }
            #skills {
              border-radius:0 0 3px 3px;
              } 


          a:hover, a:focus {
          opacity:.9;
          }
          a:active {
          background:linear-gradient(#ccc, #ddd);
          color:#000;
          }
          :target + p {
          padding:10px 15px;
          border-bottom:1px solid #ccc;
          }
          #home:target + p {
          height:70px;
          }
          #home:target + p {
          height:230px;
          }
          #edu:target {
          border-radius:0;
          }
          #edu:target + p {
          height:180px;
          }
          #work:target + p {
            height:70px;
            }
            #work:target + p {
            height:230px;
            }
            #project:target {
            border-radius:0;
            }
            #project:target + p {
            height:180px;
            }

            #skills:target {
              border-radius:0;
              }
              #skills:target + p {
              height:180px;
              }
  /* the section is used so that each heading can be split from each other */
  // section {
  //   // padding: 30px;
  //   // /* a linear-gradient effect was used to give a sleek look */
  //   // background-color: rgb(0, 65, 126);
  //   // /* proper positioning is used here by adjusting the margins */
  //   // // this ensuires that the text colour is white
  //   // color: white;
  //   // margin-bottom: 30px;
  //   // /* this rounded the edges slightly*/
  //   // transition: 0.5 ease-in;
  //   // animation: ease-in;
  // }
  
  // button:hover {
  //   background-color: rgb(255, 255, 255);
  //   color: rgb(0, 0, 0);
  //   text-align: center;
  //   text-decoration: none;
  //   cursor: pointer;
  // }
  
  
  
//   /* once git hovered, the project images brightens*/
//   .media-size:hover {
//     -webkit-filter: brightness(110%);
//     @keyframes identifier {

//   }
// }
//   /* once hovered, the image brightens */
//   .skills:hover {
//     -webkit-filter: brightness(110%);
//     @keyframes identifier {

//   }
  
// }