/*************************
      Base
*************************/

/* The html and body holds all the text formatting, margin postions, */
html, body {
  height: 100%;
  margin: 0px;
  background-color: rgb(3, 3, 3);
  /* This verifies that my website reads my selected font from Google fonts*/
  font-family: 'Noto Sans', sans-serif;
  /* smooth scrolling funtion added to give a much flush feel to the website */
  scroll-behavior: smooth;
  transition: 1s;
}

/* this styles the navigation bar with the text colour, alignment and position */
// nav {
//   // background-color: rgba(0, 0, 0, 0.39);
//   width: 100%;
//   background-color: rgba(255, 255, 255, 0.637);
//   text-align: center;
//   font-family: 'Lalezar', cursive;
//   position: fixed;
//   height: 60px;
//   top: 0px;
//   right: 60px;
//   left: 0px;
//   z-index: 1;
// }

ul {
  padding-left: 0px;
}

h6 {
font-size: 60px;
  width: 700px;
}


/* this ensures that each li tag is spaced out evenly and consistant */
li {
  display: inline;
  margin: 30px;
  font-size: 20px;
  text-align: center;
}

/* the section is used so that each heading can be split from each other */
section {
  width: 80%;
  padding: 30px;
  /* a linear-gradient effect was used to give a sleek look */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.733), rgba(255, 255, 255, 0.685), rgba(252, 252, 252, 0.103));
  /* proper positioning is used here by adjusting the margins */
  margin-left: 6%;
  margin-bottom: 30px;
  /* this rounded the edges slightly*/
  border-radius: 10px;
}

/* below is the link colour, decoration and font size */
a:link {
  color: rgb(49, 49, 49);
  /* The decoration is added so that the lines disappears under the text */
  text-decoration-style: none;
  text-decoration-line: none; 
  text-decoration: none;
}

/* below is the visited colour and font size */
a:visited {
  color: rgb(109, 0, 182);
  font-size: 15px;
}

/* below is the hover colour, decoration and font size. When scrolling over the text would then transition to a bigger font size thus giving it a smooth and elegant feel. */
a:hover {
  color: rgb(94, 94, 94);
 
  /* the timing and delay is added to smoothen it out */
  transition-duration: 0.3s;
  transition-delay: 0.3;
  /* here a specific sequel is added */
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  text-decoration-style: none;
  text-decoration-line: none; 
  text-decoration: none;
}

/* below is the active colour, decoration and font size */
a:active {
  color: purple;
  font-size: 3px;
  /* The decoration is added so that the lines disappears under the text */
  text-decoration-style: none;
  text-decoration-line: none; 
  text-decoration: none;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* once hovered, the image brighness would increase to 110% */

/* once hovered, the project images brightens*/
.media-size:hover {
  -webkit-filter: brightness(110%);
  @keyframes identifier {
    
  }
}

/* once hovered, the image brightens */
.skills:hover {
  -webkit-filter: brightness(110%);
  @keyframes identifier {
    
  }
}