/*************************
      Components
*************************/

/* this class is linked to the secondary background so that the full image can be displayed */
.main {
  height: 100%;
}


.details {
  grid-area: details
}

/* this class links to the profile picture used in the home section */


.contact-social {
  grid-area: socialstats;

  
}


.profile {
  grid-area: profilepic;
  height: 90px;

}


.profilepicture {
  /* height and width determined */
  height: 150px;
  width: 100px;
  /* this rounded the edges slightly*/
  border-radius: 20px;
  box-shadow: 0 3px 3px $thick-shadow;
  
}

// COPYRIGHT TEXT ---------------------------------------------

.copyright {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}

.copyright-text {
  height: 14px;
  padding-top: 1.5%;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.71;
  color: rgb(37, 0, 0);
}