/*************************
      Layouts
*************************/

/* This ensures that the background position and size fits all resolutions **Add multimedia sizes** */
.main-bg {
  background-image: url(../images/main.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* This ensures that the secondary background position and size fits all resolutions **Add multimedia sizes** */
.secondary-bg {
  background: url(../images/roots.jpg);
  background-size: cover;
  background-position: center;
}

/* this ensures that the headings for each section is coloured and positioned properly */
.headers {
  color: rgb(255, 255, 255);
  text-align: center;
  /* the text transformation was used to uppercase all letters so that it stands out */
  text-transform: uppercase;
  font-size: 50px;
  padding-top: 80px;
  scroll-behavior: smooth;
}

/* This displays my name and surname and jusitifies the positioning of the text */
.center {
  /* Ensures that the text is centered evenly */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Colour and size determined */
  color: white;
  font-size: 30px;
  text-shadow: 0 4px 5px black;
  animation-name: direction;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes direction {
  from {font-size: 5px;}
  to {font-size: 30px;}
}

/* this adds styling to the download button so that it fits the theme */
.download-btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.596);
  display: block;
  /* border styling selected */
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  /* postioning determined */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.down-size {
  height: 10%;
  width: 10%;
}

/* this funtion helps the scroll down is set in its right position */
.down {
  /* colour and display selected */
  display: block;
  /* text align and spacing */
  text-align: center;
  margin-top: 2%;
}

/* this class grids my first section into two seperate columns */
.grid1 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

/* this centers all images in the projects section */
#project-center {
  text-align: center;
}

/* this class links to my social media icons in the home section it only justifies the height and width for each */
.icons {
  width: 20%;
  height: 20%;
}

/* this determines the height and width of the skills section images */
.skills {
  height: 20%;
  width: 20%;
  -webkit-filter: brightness(90%);
  @keyframes identifier {
    
  }
}

/* this centers all images in the skills section */
#skills-center {
  text-align: center;
}


.top {
  /* colour and display selected */
  color: blue;
  display: block;
  /* text align and spacing */
  text-align: center;
  margin-top: 2%;
}

.up-size {
  height: 6%;
  width: 6%;
  transform: rotate(180deg);
}